[submodule "vase_os/kaes_arch"]
	path = vase_os/kaes_arch
	url = https://github.com/h8d13/KAES-ARCH.git

[submodule "vase_os/pacto_pac"]
	path = vase_os/pacto_pac
	url = https://github.com/h8d13/PACTOPAC.git
